fastapi
uvicorn
celery
redis
crewai[tools]
langchain-groq
llama-index
llama-index-core
llama-index-llms-groq
llama-index-readers-file
llama-index-tools-wolfram-alpha
llama-index-embeddings-huggingface
langchain-openai
tokenizers==0.21.0
